{
	"semi": true,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"bracketSpacing": true,
	"arrowParens": "always",
	"jsxBracketSameLine": true,
	"quoteProps": "preserve",
	"singleQuote": true
}
