.App {
	text-align: center;
	background-color: '#F3F0D7';
}

.App-header {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
}

.RentalUserInput {
	display: block;
}

html {
	overflow-y: scroll;
}
